.orange {
    color: #FF9900
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.btn-primary {
    background-color:white;
    margin: 10px;
    padding: 7px;
    width: 150px;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #FF9900;
    margin: 10px;
    padding: 7px;
    width: 150px;
    border-radius: 5px;
}

.channel-container {
    width: 90%;
    margin-bottom: 20px;
}

.channel-item {
    color: white;
}

label, input, select {
    display: block;
}

label {
    margin-bottom: 20px;
}

.video-container {
    display: flex;
}

.quiz-container {
    margin-left: 50px;
}